@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.sidebar-subheading {
  text-transform: none !important;
  letter-spacing: initial !important;
  font-size: 13px !important;
  font-weight: 500 !important;
  color: #000 !important;

  button:focus {
    color: #000 !important;
  }
}

.sidebar-subheading button > span,
.sidebar-item div > span {
  margin-top: 5px !important;
  width: 5px;
  height: 5px;
  background: transparent;
  border-left: none;
  border-bottom: none;
  border-top: 1px solid rgba(0,0,0,0.5);
  border-right: 1px solid rgba(0,0,0,0.5);
  transform: rotate(45deg);
  transition: transform 0.15s ease-in-out, margin-top 0.15s ease-in-out !important;
  font-size: 12px !important;
}

.sidebar-item div > span {
  margin-top: 1px !important;
  margin-right: 8px;
  margin-left: 20px;
}

.sidebar-item[aria-expanded="true"] div > span {
  margin-top: -2px !important;
}

.sidebar-item[aria-expanded="true"] > div > span,
.sidebar-subheading button[aria-expanded="true"] > span {
  transform: rotate(135deg);
}

.sidebar-item[data-parent-id][data-nodetype="story"],
.sidebar-item[data-parent-id][data-nodetype="document"] {
  padding-left: 20px !important;
}

.sidebar-item {
  --icon-color: rgba(0,0,0,0.5);
  font-weight: 500 !important;
  font-size: 12px !important;

  &[data-selected="true"] {
    --icon-color: #FFF;
    font-weight: 500 !important;
    font-size: 12px !important;
  }
}

[id="icon--document"],
[id="icon--bookmarkhollow"] {
  color: var(--icon-color) !important;
}

.sidebar-container {
  font-family: "Poppins", sans-serif !important;
}